.grid {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom: 24px;
}

.title {
  margin-top: 9px;
  margin-bottom: 0;
  font-weight: 800;
}

.subtitle {
  margin-top: 0;
}

.introPar {
  width: 100%;
}

.linkButton {
}

.itemAccessContainer {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  border-radius: 2px;
}

.itemAccessRow {
  display: flex;
  border: 1px solid black;
  height: 50%;
  margin: 0;

  &:last-child {
    border-top: 0px;
  }
}

.idName {
  flex: 1;
  font-weight: bold;
}

.tokenText {
  flex: 5;
}

.requests {
}
