.endpointContainer {
  display: grid;
  grid-template-columns: 15% 57% 28%;
  width: 100%;
  border-top: 1px solid black;
}

.post {
  margin: 24px;
  font-size: 1.4rem;
}

.endpointContents {
  margin: 24px;
}

.endpointHeader {
  margin-bottom: 24px;
}

.endpointName {
  font-weight: bold;
  font-size: 12px;
  padding-right: 24px;
}

.schema {
  font-size: 24px;
  letter-spacing: -0.24px;
}

.endpointDescription {
  font-size: 1.4rem;
  line-height: 2 * $unit;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
}

.sendRequest {
  width: 70%;
}

.pdf {
  width: 70%;
}
